{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="mainheading">
       <h1 class="sitetitle">{{ .Title }}</h1>
       <p class="lead">
         {{ with .Params.Description }}{{ . }}{{ end }}
       </p>
    </div>
    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">
            <div class="section-title">
                <div>{{ .Content }}</div>
                <h2><span>Alle Beiträge</span></h2>
            </div>
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (.Pages) 6 }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
