<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md col-sm text-center text-lg-left no-print">
                &copy; {{ now.Format "2006"}} {{ .Site.Copyright }} &middot; <a href="{{ .Site.BaseURL }}/impressum/" title="Impressum">Impressum</a> &middot; <a href="{{ .Site.BaseURL }}/datenschutz/" title="Datenschutzerkl&auml;rung">Datenschutzerklärung</a> &middot; <a href="{{ .Site.BaseURL }}/index.xml">RSS-Feed</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
